.forms-tabs-box {
  display: flex;
}
.tab-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 4px 4px 0 0;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}
.tab-button.active {
  background-color: #ccc;
}
